server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: "https://github.com/RomperS/config-repository"

eureka:
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://${USERNAME}:${PASSWORD}@${EUREKA_HOST:discovery-service}:${EUREKA_PORT:8761}/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: never
  metrics:
    enable:
      jvm: true
      process: true

logging:
  level:
    root: WARN
    com.example.configservice: INFO
